<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.enggemy22.afinal">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/lost"
        android:label="@string/Losts"
        android:roundIcon="@drawable/lost"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".CreatePost"></activity>
        <activity android:name=".posts" />
        <activity android:name=".edit_account" />
        <activity android:name=".regrestration" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>